rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Institutional ERP & LMS Firestore Rules
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
